<%- include("partials/header.ejs"); -%>
<title>Notes</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Montserrat&display=swap" rel="stylesheet">
<link href="/css/notes.css" rel="stylesheet">
</head>

<body>
    
    <div class="hero">
        <div class="container">
            <h1 class="heading">Notes</h1>
            
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Create a New Note!</button>
            <!-- array of already existed todos -->
            
            <!-- modal -->
            <div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Choose Title</h5>
                      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action=<%= "/" +userid+ "/notes" %> method="post">
                        <div class="note-title">
                            <div class="input-title">
                                <label for="title" class="content">Title for the new Note:   </label>
                                <input type="text" id="title" name="notetitle" class="content">
                            </div>
                            <div class="create-btn">
                                <button type="submit" class="submit-btn">Create!</button>
                            </div>
                        </div>
                      </form>
                    </div>
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                  </div>
                </div>
            </div>

            <div class="notes">
              <% for(let i=0;i<notes.length;i++){ %>
                <form action=<%= "/" +userid+ "/notes" %> method="post">
                  <a href=<%= "/" +userid+ "/notes/" + notes[i].title %> class="btn todo"> <%= notes[i].title %></a><button type="submit" name="delete" value=<%= notes[i]._id %>><i class="fa fa-trash"></i></button>
                </form>
              <% } %>
            </div>
            
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

<%- include("partials/footer.ejs"); -%>