<%- include("partials/header.ejs"); -%>
<title>Home</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Montserrat&display=swap" rel="stylesheet">
<link href="/css/todo.css" rel="stylesheet">
</head>

<body>
    
    <div class="hero">
        <div class="container">
            
                <h1 class="heading"><%= todo.title %></h1>
                <form action=<%= "/" +userid+ "/todos/" + todo.title %> method="post">
                    <div class="todo-item">
                            <input class="new-todo-item" type="text" size="40" name="todo">
                            <button type="submit" class="btn" name="add" value="#">Add To List</button>
                    </div>
                </form>
            
            
            <% for(let i=0;i<todo.checklist.length;i++){ %>
                <form action=<%= "/" +userid+ "/todos/" + todo.title %> method="post">
                    <div class="todo-item">
                        <input type="checkbox" class="checkbox">
                        <p class="todo-task"><%= todo.checklist[i] %></p>
                        <button type="submit" class="delete btn" name="delete" value=<%= todo.checklist[i] %> ><i class="fa fa-trash"></i></button>
                    </div>
                </form>
            <% } %>
            
            <form action=<%= "/" +userid+ "/todos/" + todo.title %> method="post">
                <div class="todo-item clearTodo">
                    <p class="todo-task">Clear the to-do</p>
                    <button type="submit" name="clear" class="btn" value=<%= todo._id %> >Clear</button>
                </div>
            </form>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

<%- include("partials/footer.ejs"); -%>